<h1>用戶列表</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>姓名</th>
      <th>Email</th>
      <th>權限</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role.name %></td>
        <td><%= link_to '詳細', user, class: 'btn btn-xs btn-success' %>

          <% if can? :update, user %>
            <%= link_to '修改', edit_user_path(user), class: 'btn btn-xs btn-warning' %>
          <% end %>

          <% if can? :destroy, user %>
            <%= link_to '刪除', user, method: :delete, data: { confirm: '確定要刪除？' }, class: 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, User %>
  <%= link_to '新增用戶', new_user_path, class: 'btn btn-lg btn-primary' %>
<% end %>
