<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, '名稱' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, '描述' %><br>
    <%= f.text_field :description %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit '送出', class: 'btn btn-lg btn-primary' %>&nbsp;&nbsp;<%= link_to '返回', roles_path, class: 'btn btn-lg btn-default' %>
  </div>
<% end %>
